
%h1
  Docs
= link_to "Refresh Docs", :action => 'refresh_docs'
%table
  %tr
    %td Folder
    %td Title
    %td Parsed
    %td Status
  - @docs.each do |doc|
    %tr
      %td{:valign => "top"}= h doc.folder
      %td{:valign => "top"}= h doc.title
      %td{:valign => "top"}= h doc.parsed
      %td{:valign => "top"}
        = link_to_remote "parse", :url => {:action => "parse", :id => doc.id}, :update => "status#{doc.id}"
        /%a{:href => url_for(:action => "parse", :id => doc.id), "data-remote" => "true", "data-update-success" => "result"} parse
      %td{:id => "status#{doc.id}", :valign => "top"}
        %span{:title => doc.status}= h doc.status[0,50]
        
