
%h1
  Docs
%p
  Folder:
  %b
    = h @folder
%table
  %tr
    %td Title
    %td URL
    %td Parsed
    %td
    %td Status
  - @docs.each do |doc|
    %tr
      %td{:valign => "top"}= h doc.title
      %td{:valign => "top"}= h doc.example_url
      %td{:valign => "top"}= h doc.parsed
      %td{:valign => "top"}
        = link_to_remote "update", :url => {:action => "update", :id => doc.id}, :update => "status#{doc.id}"
        /%a{:href => url_for(:action => "parse", :id => doc.id), "data-remote" => "true", "data-update-success" => "result"} parse
      %td{:id => "status#{doc.id}", :valign => "top"}
        %span{:title => doc.status}= h doc.status[0,75]
        
