%h1
  New Items
- if flash[:note]
  %p{:style => "color:red"}= h flash[:note]
- form_for :items, :url => { :action => "create" }, :html => {:multipart => true} do |f|
  %p
    Path:
    = f.text_field :path
  %p
    Items CSV:
    = f.file_field :items_csv
  %p
    Order CSV:
    = f.file_field :order_csv
  %p
    = submit_tag "Save"